@model  GeekWebAppProject.Models.Article
    @{
        var article = Model;
     }
    



<div class="row">
    <h1 class="section-title wow fadeInLeft animated" data-wow-delay=".6s">My<br>Homey<br><span>Blog</span></h1>
    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
        <div class="blog-large wow fadeInLeft animated" data-wow-delay="1.2s">
            <img src="/Content/imgs/blog/@article.ImagePath" alt="">
            <div class="large">
                <a class="title" href="#">@article.Name</a>
                <p>@article.Text</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInRight animated" data-wow-delay="1.6s">
        <div class="blog-item">
            <img src="/Content/imgs/blog/@article.ImagePath" alt="">
            <div class="content">
                <a class="title" href="#">@article.Name</a>
                <p>@article.Text</p>
            </div>
        </div>
        <div class="blog-item">
            <img src="/Content/imgs/blog/@article.ImagePath" alt="">
            <div class="content">
                <a class="title" href="#">@article.Name</a>
                <p>@article.Text</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInRight animated" data-wow-delay="1.8s">
        <div class="blog-item">
            <img src="/Content/imgs/blog/@article.ImagePath" alt="">
            <div class="content">
                <a class="title" href="#">@article.Name</a>
                <p>@article.Text</p>
            </div>
        </div>
        <div class="blog-item">
            <img src="/Content/imgs/blog/@article.ImagePath" alt="">
            <div class="content">
                <a class="title" href="#">@article.Name</a>
                <p>@article.Text</p>
            </div>
        </div>
    </div>
</div>
<!--Blog-->
