@model GeekWebAppProject.Data.ContactMessage

@using (Html.BeginForm("Add", "ContactMessages", FormMethod.Post, new { @class = "row" }))
{
    @Html.AntiForgeryToken()
    <form action="" name="contact">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            @*<input type="text" name="name" class="form-control" placeholder="Your name">*@
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })

        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
            @*<input type="email" name="email" class="form-control" placeholder="Email">*@
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-fire"></i></span>
            @*<input type="text" name="subject" class="form-control" placeholder="Subject">*@
            @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-comments"></i></span>
            @*<textarea name="message" class="form-control large" placeholder="Massage"></textarea>*@
            @Html.TextAreaFor(x => x.Text, new { @class = "form-control large" })
        </div>
        <button type="submit" class="btn btn-green"><i class="fa fa-envelope-o"></i>Send</button>
    </form>
    <div class="col-sm-4 col-md-4 col-md-offset-2 wow fadeInRight animated" data-wow-delay="1.4s">
        <div class="address">
            <h2>Contact Info</h2>
            <ul class="contact-info">
                <li><i class="fa fa-mobile"></i> +88 019788XYZ</li>
                <li><i class="fa fa-skype"></i> musa.xyz</li>
                <li><i class="fa fa-envelope-o"></i> musaxyz@gmail.com</li>
            </ul>

            <h2>Follow Me</h2>
            <ul class="social-icon">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>
}


@section ValidationSection
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}